<h1>Cyber Security Base Project I</h1>

{{#if admin}}
  <p>Flag: {{flag}}</p>
{{/if}}

<a href="/login">Login</a>
<a hidden href="/src/index.js">View code (DEBUG)</a>
{{#if admin}}
  <a href="/users">Users</a>
{{/if}}